@use "./variables" as *;

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card {
  background: $white;
  border-radius: $radius;
  padding: 1.5rem;
}
